apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: trillian-database
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/japower-tenant/trillian/trillian-database@sha256:e5d232437bc0d9f963f1281e8fe13c83a95094f0b08c0ad942190e18b6bbefb2
        name: my-go
        resources: {}
status: {}
