apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: trillian-database
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: trillian-database
    app.kubernetes.io/part-of: trillian
  name: trillian-database
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: trillian-database
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: trillian-database
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/japower-tenant/trillian/trillian-database@sha256:e5d232437bc0d9f963f1281e8fe13c83a95094f0b08c0ad942190e18b6bbefb2
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 6379
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
